$font-family: Arial, sans-serif;
$secondary-color: #04436d;
$background-color-dark: #333;
$background-color-light: #f4f4f4;
$background-color-footer: #222;
$font-size-large: 4rem;
$font-size-medium: 2.5rem;
$font-size-small: 1.2rem;
$corDeFundo: #000;
$corPrincipal: #1a85cc;
